<% provide(:title, 'About') %>
<div class="center hero-unit">
  <h1>Welcome to pling</h1>

  <h2>
    This is the about page for
    <a href="#/">pling</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>