<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %> <br/> <br/>
				(<%= @user.id %>) <br/> <br/>
				<%= @user.user_type%> <br/><br/>
				
				Signed in? <%= signed_in? %>
      </h1>
    </section>
  </aside>
</div>