<header class="navbar navbar-fixed-top">
  <div>
    <div class="container">
      <%= link_to logo, '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Profile", profile_path %></li>
          <li><%= link_to "Admin", admin_path %></li>
          <li><%= link_to "Login", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>